test_string="This is just a string... no validation can be done"
test_boolean="true"
test_integer="7"
test_decimal="3.14159"
REF="ref.fa"
DBSNP="dbsnp.vcf"
LICENSE="License.lic"
# This value is allowed to be empty; the parser should not check its value
DebugMode=""

PairedEnd="true"
#PairedEnd="false"

NormalInputRead1="readL1.fq,readL2.fq,readL3.fq"

NormalInputRead2="readR1.fq,readR2.fq,readR3.fq"
#NormalInputRead2=""

TumorInputRead1="tumor_readL1.fq,tumor_readL2.fq,tumor_readL3.fq"
TumorInputRead2="tumor_readR1.fq,tumor_readR2.fq,tumor_readR3.fq"

ValueWithQuotes=""'InBetweenQuotes'""
PlatformUnit="A,B,C"

# Comment line should be removed
# Along with the blank line above