################################################################################
###
### Task scripts
### 
### Description: Full paths to the bash scripts for each task
### Value: "/somewhere/MayomicsVC/src/bash_scripts/script.sh"
###
################################################################################

AlignmentScript=""
BqsrScript=""
DedupScript=""
HaplotyperScript=""
RealignmentScript=""
TrimSeqScript=""
VqsrScript=""

DeliveryAlignment_Script=""
DeliveryHaplotyperVC_Script=""

################################################################################
### 
### Delivery folders
### 
### Description: Full paths to where output files should be delivered
### Value: "/somewhere/Delivery"
###
################################################################################

DeliveryFolder_Alignment=""
DeliveryFolder_Block_2=""

################################################################################
###
### Tool Paths
###
################################################################################

### Full path to the directory that contains the cutadapt executable
### Value: "/installation/path/bin"
CutAdapt=""

### Full path to the Sention root directory
### Value: "/installation/path/sentieon"
Sentieon=""

################################################################################
###
### Environment Profile Files
###
### Description:
### Value:
###
################################################################################

BashSharedFunctions=""

AlignEnvProfile=""
BqsrEnvProfile=""
DedupEnvProfile=""
HaplotyperEnvProfile=""
RealignEnvProfile=""
TrimEnvProfile=""
VqsrEnvProfile=""

################################################################################
###
### Reference and Index Files
###
################################################################################

Adapters=""
BqsrKnownSites=""
DBSNP=""

### Arrays of Normal Input Reads
### Format: comma-separated file paths
### Value: "/path/to/readA.fq,/path/to/readB.fq,/path/to/readC.fq"
NormalInputRead1=""
NormalInputRead2=""

### Arrays of Tumor Input Reads (can be empty for germline)
### Format: comma-separated file paths
### Value: "/path/to/readA.fq,/path/to/readB.fq,/path/to/readC.fq"
TumorInputRead1=""
TumorInputRead2=""

BWAExtraOptionsString=""
HaplotyperExtraOptionsString=""
KnownSites=""
RealignmentKnownSites=""
Ref=""
VqsrIndelResourceString=""
VqsrSnpResourceString=""

################################################################################
###
### Misc Settings
###
################################################################################

AnnotateText=""
ChunkSizeInBases="100000000"
CutAdaptThreads=""
DebugMode=""
PairedEnd=""
Platform=""
Library=""
PlatformUnit=""
CenterName=""
SampleName=""
SentieonThreads=""
Threads=""
WorkflowJson=""

BashPreamble=""
MergeBamEnvProfile=""

MarkDuplicates=""
Trimming=""
Vqsr=""

################################################################################
###
### Memory Limits
###
### Description:
### Format:
### Value:
###
################################################################################

AlignHardMemLimit=""
AlignSoftMemLimit=""
BqsrHardMemLimit=""
BqsrSoftMemLimit=""
DedupHardMemLimit=""
DedupSoftMemLimit=""
HaplotyperHardMemLimit=""
HaplotyperSoftMemLimit=""
MergeBamScript=""
MergeHardMemLimit=""
MergeSoftMemLimit=""
RealignHardMemLimit=""
RealignSoftMemLimit=""
TrimHardMemLimit=""
TrimSoftMemLimit=""
VqsrHardMemLimit=""
VqsrSoftMemLimit=""
