##############################
### Task scripts
##############################

AlignmentScript=""
BqsrScript=""
DedupScript=""
HaplotyperScript=""
RealignmentScript=""
TrimSeqScript=""
VqsrScript=""

DeliveryAlignment_Script=""
DeliveryHaplotyperVC_Script=""

##############################
### Delivery folders
##############################

DeliveryFolder_Alignment=""
DeliveryFolder_Block_2=""

##############################
### Tool Paths
##############################

CutAdapt=""
Sentieon=""

##############################
### Environment Profile Files
##############################

BashSharedFunctions=""

AlignEnvProfile=""
BqsrEnvProfile=""
DedupEnvProfile=""
HaplotyperEnvProfile=""
RealignEnvProfile=""
TrimEnvProfile=""
VqsrEnvProfile=""

##############################
### Reference and Index Files
##############################

Adapters=""
BqsrKnownSites=""
DBSNP=""

### Input Reads are Arrays (an example value: "readA.fq,readB.fq,readC.fq")
InputRead1=""
InputRead2=""

BWAExtraOptionsString=""
HaplotyperExtraOptionsString=""
KnownSites=""
RealignmentKnownSites=""
Ref=""
VqsrIndelResourceString=""
VqsrSnpResourceString=""

##############################
### Misc Settings
##############################

AnnotateText=""
ChunkSizeInBases=""
CutAdaptThreads=""
DebugMode=""
PairedEnd=""
Platform=""
Library=""
PlatformUnit=""
CenterName=""
SampleName=""
SentieonThreads=""
Threads=""
WorkflowJson=""





