##############################
### Task scripts
##############################

AlignmentScript=""
BqsrScript=""
DedupScript=""
HaplotyperScript=""
RealignmentScript=""
TrimSeqScript=""
VqsrScript=""

DeliveryAlignment_Script=""
DeliveryHaplotyperVC_Script=""

##############################
### Delivery folders
##############################

DeliveryFolder_Alignment=""
DeliveryFolder_Block_2=""

##############################
### Tool Paths
##############################

CutAdapt=""
Sentieon=""

##############################
### Environment Profile Files
##############################

BashSharedFunctions=""

AlignEnvProfile=""
BqsrEnvProfile=""
DedupEnvProfile=""
HaplotyperEnvProfile=""
RealignEnvProfile=""
TrimEnvProfile=""
VqsrEnvProfile=""

##############################
### Reference and Index Files
##############################

Adapters=""
BqsrKnownSites=""
DBSNP=""

### Input Reads are Arrays (an example value: "readA.fq,readB.fq,readC.fq")
NormalInputRead1=""
NormalInputRead2=""

# These can be blank (or absent)
TumorInputRead1=""
TumorInputRead2=""

BWAExtraOptionsString=""
HaplotyperExtraOptionsString=""
KnownSites=""
RealignmentKnownSites=""
Ref=""
VqsrIndelResourceString=""
VqsrSnpResourceString=""

##############################
### Misc Settings
##############################

AnnotateText=""
ChunkSizeInBases=""
CutAdaptThreads=""
DebugMode=""
PairedEnd=""
Platform=""
Library=""
PlatformUnit=""
CenterName=""
SampleName=""
SentieonThreads=""
Threads=""
WorkflowJson=""

BashPreamble=""
MergeBamEnvProfile=""

# "true" or "false"
MarkDuplicates=""
Trimming=""
Vqsr=""

##############################
### Memory Limits
##############################

AlignHardMemLimit=""
AlignSoftMemLimit=""
BqsrHardMemLimit=""
BqsrSoftMemLimit=""
DedupHardMemLimit=""
DedupSoftMemLimit=""
HaplotyperHardMemLimit=""
HaplotyperSoftMemLimit=""
MergeBamScript=""
MergeHardMemLimit=""
MergeSoftMemLimit=""
RealignHardMemLimit=""
RealignSoftMemLimit=""
TrimHardMemLimit=""
TrimSoftMemLimit=""
VqsrHardMemLimit=""
VqsrSoftMemLimit=""