test_string="This is just a string... no validation can be done"
test_boolean="true"
test_integer="7"
test_decimal="3.14159"
REF="ref.fa"
DBSNP="dbsnp.vcf"
LICENSE="License.lic"
# This value is allowed to be empty; the parser should not check its value
InputRead2=

# Comment line should be removed
# Along with the blank line above