##############################
### Task scripts
##############################

AlignmentScript=""
BqsrScript=""
DedupScript=""
HaplotyperScript=""
RealignmentScript=""
TrimSeqScript=""
VqsrScript=""

DeliveryBlock_1_Script=""
DeliveryBlock_2a_Script=""

##############################
### Delivery folders
##############################

DeliveryFolder_Block_1=""
DeliveryFolder_Block_2=""

##############################
### Tool Paths
##############################

CutAdapt=""
Sentieon=""

##############################
### Environment Profile Files
##############################

AlignEnvProfile=""
BqsrEnvProfile=""
DedupEnvProfile=""
HaplotyperEnvProfile=""
RealignEnvProfile=""
TrimEnvProfile=""
VqsrEnvProfile=""

##############################
### Reference and Index Files
##############################

Adapters=""
BqsrKnownSites=""
DBSNP=""
InputRead1=""
InputRead2=""
KnownSites=""
RealignmentKnownSites=""
Ref=""
VqsrIndelResourceString=""
VqsrSnpResourceString=""

##############################
### Misc Settings
##############################

AnnotateText=""
ChunkSizeInBases=""
CutAdaptThreads=""
DebugMode=""
Group=""
PairedEnd=""
Platform=""
SampleName=""
SentieonThreads=""
Threads=""
WorkflowJson=""





